In [1]:
import pandas as pd

In [16]:
df = pd.read_excel(r"users.xlsx")

In [23]:
df

abc

In [26]:
df.loc[len(df.index)] = ['sarthak', 'pass'] 
df

     Email Password
0      abc      abc
1  sarthak     pass

In [27]:
df.loc[len(df.index)] = ['sarthak', 'pass']

In [29]:
df.to_excel('users.xlsx')

In [30]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [36]:
df = pd.read_excel(r"users.xlsx")

In [37]:
df

Empty DataFrame
Columns: [Email, Password, Name , Address, Phone]
Index: []